.App {
  text-align: center;
}

.padding {
  padding-top: 10px;
  padding-right: 10px;
}

.visible {
  visibility: visible;
}
  
.not-visible {
  visibility: hidden;
}

body{
  background-color:rgb(244, 242, 235);
}

